<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>First Name</td>
                <td><input type="text" name="txt_fname" id=""></td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td><input type="text" name="txt_lname" id=""></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="email" name="txt_email" id=""></td>
            </tr>
            <tr>
                <td>Active</td>
                <td>
                    <select name="sel_status" id="">
                        <option value="">...Select...</option>
                        <option value="1">Active</option>
                        <option value="2">Not Active</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Role</td>
                <td><input type="text" name="txt_role" id=""></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="txt_password" id=""></td>
            </tr>
            <tr>
                <td><input type="submit" value="Register"></td>
            </tr>
        </table>
    </form>
    <table cellpadding="10">
        <tr>
            <td>#</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
            <td>Active</td>
            <td>Role</td>
            <td>Action</td>
        </tr>
        {% for i in user %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.first_name}}</td>
            <td>{{i.last_name}}</td>
            <td>{{i.email}}</td>
            <td>
                {% if i.status == "1" %}
                Yes
                {% else %}
                No
                {% endif %}
            </td>
            <td>{{i.role}}</td>
            <td>
                <a href="{% url 'webadmin:delete_user' i.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>